[submodule ".claude/skills/superpowers-skills"]
	path = .claude/skills/superpowers-skills
	url = https://github.com/obra/superpowers-skills
[submodule ".claude/skills/superpowers"]
	path = .claude/skills/superpowers
	url = https://github.com/obra/superpowers
